
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }

  .mat-header-cell {
    background-color:lightcoral;
    color: white;
  }

  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }