<form [formGroup]="overlayForm">
    <div class="mat-elevation-z2 p-8">
        <br>
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="50">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="UserName" [value]="user.UserName">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="50">
                <mat-label>Password</mat-label>
                <input matInput formControlName="Password" [value]="user.Password">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div mat-dialog-actions>
                <button mat-raised-button color="primary" (click)="login()">Login</button>                
            </div>
        </div>
        <br>
    </div> 

</form>